.image-container {
    width: 300px;
    background-size: cover;
    margin: auto;
}

.no-image-icon {
    font-size: 300px;
}

.no-searches-icon {
    font-size: 150px;
    color: var(--ion-color-primary);
}

.type-icon {
    font-size: 25px;
    padding-right: 5px;
}

.title {
    font-style: italic;
}