<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button (click)="close()" defaultHref="menu/search" slot="start"></ion-back-button>
      <ion-title>Search</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter title</ion-label>
    <ion-input required [(ngModel)]="itemTitle" type="text"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="searchItems()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div class="empty-page-container" *ngIf="itemsList === undefined || itemsList.length === 0 || itemsList === null">
    <ion-row>
      <ion-col>
        <ion-icon class="no-searches-icon" name="arrow-up-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="primary">
          No searches. Type new title.
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
    
  <div *ngIf="itemsList !== undefined && itemsList.length !== 0 && itemsList !== null">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of itemsList">
          <div class="image-container ion-activatable" (click)="fillAddForm(item)">
              <ion-img  *ngIf="item.Poster != 'N/A'" [src]="item.Poster"></ion-img>
            <ion-icon class="no-image-icon" *ngIf="item.Poster == 'N/A'" name="information-circle-outline"></ion-icon>
              <div *ngFor="let type of types">
                <ion-item *ngIf="item.Type === type.type">
                  <ion-icon  item-start class="type-icon" [name]="type.icon"></ion-icon>
                  <ion-label class="title">{{item.Year}} <b>{{item.Title}}</b></ion-label>
                </ion-item>
              </div>
              <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    
    


</ion-content>
