<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button (click)="close()" defaultHref="menu/search" slot="start"></ion-back-button>
      <ion-title>Search</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter title</ion-label>
    <ion-input required [(ngModel)]="itemTitle" type="text"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="searchItems()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

    <ion-card *ngIf="itemsList === undefined || itemsList.length === 0 || itemsList === null">
      <ion-card-header class="ion-text-center">
        <ion-label>
          No searches. Type new title 
          <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
        </ion-label>
      </ion-card-header>
    </ion-card>
    
    <ion-list *ngIf="itemsList !== undefined && itemsList.length !== 0 && itemsList !== null">
      <ion-item lines="none" *ngFor="let item of itemsList">
        <ion-card class="ion-activatable" (click)="fillAddForm(item)">
          <ion-card-header class="ion-text-center">
            <ion-label>
              {{item.Title}}
              {{item.Type}}
              {{item.Year}}
              <!-- poster -->
              <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
            </ion-label>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-item>
    </ion-list>
    


</ion-content>
