<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Manage library</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="searchItem()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="itemType">
    <ion-segment-button value="movie">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="series">
      <ion-icon name="albums-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="game">
      <ion-icon name="game-controller-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]='addForm'>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Title<ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.title">
            <div class="error-message" *ngIf="addForm.get('title').hasError(error.type) && (addForm.get('title').dirty || addForm.get('title').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-row>
          <ion-col *ngIf="itemType === 'movie' || itemType === 'game'">
            <ion-item>
              <ion-label position="stacked">Director</ion-label>
              <ion-input formControlName="director"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col *ngIf="itemType === 'series'">
            <ion-item>
              <ion-label position="stacked">Since year<ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime displayFormat="YYYY" min="1850" formControlName="year"></ion-datetime>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.year">
                <div class="error-message" *ngIf="addForm.get('year').hasError(error.type) && (addForm.get('year').dirty || addForm.get('year').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>

          <ion-col>
            <ion-item *ngIf="itemType === 'movie' || itemType === 'game'">
              <ion-label position="stacked">Year<ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime displayFormat="YYYY" min="1850" formControlName="year"></ion-datetime>
            </ion-item>
            <div class="error-messages" *ngIf="itemType === 'movie' || itemType === 'game'">
              <ng-container *ngFor="let error of errorMessages.year">
                <div class="error-message" *ngIf="addForm.get('year').hasError(error.type) && (addForm.get('year').dirty || addForm.get('year').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
            <ion-item *ngIf="itemType === 'series'">
              <ion-label position="stacked">To year</ion-label>
              <ion-datetime displayFormat="YYYY" min="1850" formControlName="toyear"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col *ngIf="itemType === 'series'">
            <ion-item>
              <ion-label position="stacked">Total seasons</ion-label>
              <ion-buttons>
                <ion-button color="primary" (click)="setTotalSeasons('-')">
                  <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                </ion-button>
                <ion-label>{{totalSeasons}}</ion-label>
                <ion-button color="primary" (click)="setTotalSeasons('+')">
                  <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label position="stacked">Plot</ion-label>
          <ion-textarea formControlName="plot"></ion-textarea>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Rating</ion-label>
          <ion-range min="0" max="100" pin ticks formControlName="rating">
            <ion-icon size="small" slot="start" name="star-outline"></ion-icon>
            <ion-icon size="large" slot="end" name="star-outline"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item *ngIf="itemType === 'series' || itemType === 'movie'">
          <ion-label position="stacked">Minutes runtime</ion-label>
          <ion-range min="5" max="300" pin ticks formControlName="runtime">
            <ion-icon size="small" slot="start" name="alarm-outline"></ion-icon>
            <ion-icon size="large" slot="end" name="alarm-outline"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Poster link</ion-label>
          <ion-textarea formControlName="poster"></ion-textarea>
        </ion-item>

        <div class="chips" *ngFor="let genre of genres">
          <ion-chip *ngIf="genre.isChecked" color="primary" (click)="genre.isChecked = !genre.isChecked">
            <ion-label>{{genre.name}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="!genre.isChecked" (click)="genre.isChecked = !genre.isChecked">
            <ion-label>{{genre.name}}</ion-label>
          </ion-chip>
        </div>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [disabled]="!addForm.valid" (click)="addToFirebase()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</form>

</ion-content>
