ion-segment-button {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
}

ion-datetime {
    padding: 8px 0;
}

.error-messages {
    font-size: 0.7em;
    color: red;
    text-align: center;
}

.chips {
    display: inline-block;
}
