<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Series</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addNew()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="empty-page-container" *ngIf="itemsList === undefined || itemsList.length === 0 || itemsList === null">
    <ion-row>
      <ion-col>
        <ion-label color="primary">
          Fill your library first.
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="addNew()">
          Add series
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="itemsList">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of itemsList">
          <ion-card>
            <ion-row>
              <ion-col (click)="openDetailsModal(item)">
                <div class="poster">
                  <ion-img *ngIf="item.Poster != 'N/A' && item.Poster != 'Unknown'" [src]="item.Poster"></ion-img>
                  <ion-icon class="no-image-icon" *ngIf="item.Poster == 'N/A' || item.Poster == 'Unknown'" name="information-circle-outline"></ion-icon>
                </div>
              </ion-col>
              <ion-col>
                <ion-label class="stat-icons">
                  <ion-icon (click)="seenChange(item, item.id)" [color]="item.seen ? 'primary' : 'medium'" [name]="item.seen ? 'checkmark-done-outline' : 'checkmark-outline'"></ion-icon>
                  <ion-icon (click)="favChange(item, item.id)" [color]="item.fav ? 'primary' : 'medium'" [name]="item.fav ? 'bookmark' : 'bookmark-outline'"></ion-icon>
                  <ion-icon (click)="editItem(item)" name="create-outline"></ion-icon>
                  <ion-icon (click)="deleteItem(item.id)" name="trash-outline"></ion-icon>
                </ion-label>
                <div (click)="openDetailsModal(item)">
                  <ion-label class="title">{{item.Title}}</ion-label>
                  <ion-label class="year">Year: <b>{{item.Year}}</b></ion-label>
                  <ion-label class="plot" *ngIf="item.Plot != 'Unknown'">{{item.Plot}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
